.content {
  background-color: #d0dff7;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.right {
  float: right;
  margin-left: 40px;
  margin-right: 40px;
  width: 200px;
}

.round {
  border: 5px solid navy;
  border-radius: 50%;
  padding: 10px;
}

.logo {
  left: 10px;
  padding-top: 10px;
  position: fixed;
  top: 10px;
  width: 100px;
}
